nav{
    display: flex;
    justify-content: space-between;
    max-width: 1276px;
    height: 43px;
    margin: 25px auto;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 24px;
    list-style: none;
    cursor: pointer;
}
button{
    padding: 6px 16px;
    height: 32px;
    color: aliceblue;
    background: #D01C28;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
